* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FF765F;
}

#logo {
  text-indent: -2000px;
  background: url(../images/logo.png) no-repeat;
  width: 162px;
  height: 194px;
  margin: auto;
  position: relative;
  z-index: 100;
}

#tweet_container {
  width: 1024px;
  height: 768px;
  margin: 50px auto;
  position: relative;
  background: url(../images/bg.png) 0 0 no-repeat;
}

#progress_bar {
  width: 0px;
  background-color: #ccc;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.4;
}

#drop_target {
  width: 430px;
  height: 385px;
  background: url(../images/target.png) no-repeat;
  position: relative;
  margin: -38px auto 0;
}

#drag_n_drop_text {
  background: url(../images/sprite.png) 0 0 no-repeat;
  width: 400px;
  height: 30px;
  margin: 20px auto;
}

#tweet_interface {
  margin-top: -30px;
}

#dropped_image_container {
  position: relative;
  width: 500px;
  margin: auto;
  z-index: 10;
}

#dropped_image {
  float: left;
  box-shadow: inset 0 0 7px #000;
}

#dropped_image .thumb {
  width: 500px;
  height: auto;
  position: relative;
  z-index: -1;
  margin: 0 0 -3px 0;
}


.caption_container {
  width: 500px;
  margin: auto;
}

#tweet_caption {
  display: block;
  width: 479px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  padding: 10px 10px;
  margin: 20px auto;
  text-align: center;
  font-size: 18px;
  color: #333;
}

#send_btn {
  background: url(../images/sprite.png) 0 -60px no-repeat;
  width: 96px;
  height: 45px;
  display: block;
  border: none;
  margin: 10px auto;
  text-indent: -1000px;
  cursor: pointer;
}

#send_btn:hover {
  background-position: -96px -60px;
}

#success_section {
  position: absolute;
  top: 50px;
  width: 1024px;
}

#success_section .success_image {
  background: url(../images/success.png) no-repeat;
  width: 387px;
  height: 464px;
  margin: auto;
}

#success_section .success_msg {
  background: url(../images/sprite.png) 0 -28px no-repeat;
  width: 437px;
  height: 26px;
  margin: 20px auto;
}

#msg_box {
  font-family: Helvetica, sans-serif;
  font-weight: 300;
}

.cf:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.hidden {
  display: none;
}
